{% extends 'base.html.twig' %}
{% import "_macros.html.twig" as macros %}

{% block title %}რეპრესირებულთა სია{% endblock %}

{% block body %}
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="title">
                    <h2><b>1937-1938</b> წლებში რეპრესირებულთა სია</h2>
                </div>

                {% set formData = app.request.get('person_search_form') %}
                {% set isFiltered = formData ?? []|filter((v, k) => k not in ['search', '_token'] and v is not empty) is not empty %}

                <button class="btn btn-btn-round" type="button" data-toggle="collapse" data-target="#search-collapse"
                        aria-expanded="false" aria-controls="search-collapse">
                    <i class="material-icons">search</i>  რეპრესირებულის ძიება
                </button>

                <div class="collapse{{ isFiltered ? ' show' : '' }}" id="search-collapse">
                    <div class="card card-body">
                        {{ form_start(searchForm, {'method': 'GET'}) }}
                        <div class="row">
                            <div class="col-12">
                                <h4>პირადი მონაცემები</h4>
                                <div class="input-group mb-3">
                                    {{ macros.input(searchForm.surname) }}
                                    {{ macros.input(searchForm.name) }}
                                    {{ macros.input(searchForm.patronymic) }}
                                    {{ macros.input(searchForm.birth_date) }}
                                    {{ macros.input(searchForm.place_of_birth) }}
                                    {{ macros.input(searchForm.dwelling_place) }}
                                    {{ macros.input(searchForm.education) }}
                                    {{ macros.input(searchForm.education_additional) }}
                                    {{ macros.input(searchForm.nationality) }}
                                    {{ macros.input(searchForm.social_status) }}
                                    {{ macros.input(searchForm.marital_status) }}
                                    {{ macros.input(searchForm.partying) }}
                                    {{ macros.input(searchForm.working_position) }}
                                    {{ macros.input(searchForm.conviction) }}
                                    {{ macros.input(searchForm.rank_in_past) }}
                                </div>

                                <h4>დაპატიმრება</h4>
                                <div class="input-group mb-3">
                                    {{ macros.input(searchForm.list) }}
                                    {{ macros.input(searchForm.blame) }}
                                    {{ macros.input(searchForm.clauses) }}
                                    {{ macros.input(searchForm.date_of_arrest) }}
                                    {{ macros.input(searchForm.investigator) }}
                                </div>

                                <h4>გასამართლება</h4>
                                <div class="input-group mb-3">
                                    {{ macros.input(searchForm.session_date) }}
                                    {{ macros.input(searchForm.presenter) }}
                                    {{ macros.input(searchForm.session_participants) }}
                                    {{ macros.input(searchForm.verdict) }}
                                    {{ macros.input(searchForm.verdict_date) }}
                                    {{ macros.input(searchForm.convict) }}
                                </div>

                                <h4>სხვა მონაცემები</h4>
                                <div class="input-group mb-3">
                                    {{ macros.input(searchForm.rehabilitation) }}
                                    {{ macros.input(searchForm.notes) }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="form-group mt-3">
                                            {{ form_widget(searchForm.search) }}
                                        </div>
                                    </div>

                                    {% if isFiltered -%}
                                        <div class="col-lg-2">
                                            <div class="form-group mt-3">
                                                <a href="{{ path('list') }}" class="btn btn-danger btn-block btn-flat">გასუფთავება</a>
                                            </div>
                                        </div>
                                    {% endif -%}
                                </div>
                            </div>
                        </div>

                        {{ form_end(searchForm) }}
                    </div>
                </div>

                {% if isFiltered -%}
                    {% if people.getTotalItemCount -%}
                        <p>ნაპოვნია თქვენი მოთხოვნის შესაფერისი <b>{{ people.getTotalItemCount }}</b> რეპრესირებული.</p>
                    {% else -%}
                        <div class="text-center">
                            <h4><b>თქვენი მოთხოვნის შესაფერისი ვერც ერთი რეპრესირებული ვერ მოიძებნა.</b></h4>
                        </div>
                    {% endif -%}
                {% endif -%}

                {% if people.getTotalItemCount -%}
                    <div class="table-responsive ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">
                                    {{ knp_pagination_sortable(people, 'გვარი', 'p.surname') }}
                                    <i class="fa fa-fw fa-sort{{ people.isSorted('p.surname') ? '-' ~ people.getDirection : '' }}"></i>
                                </th>
                                <th scope="col">
                                    {{ knp_pagination_sortable(people, 'სახელი', 'p.name') }}
                                    <i class="fa fa-fw fa-sort{{ people.isSorted('p.name') ? '-' ~ people.getDirection : '' }}"></i>
                                </th>
                                <th scope="col">
                                    {{ knp_pagination_sortable(people, 'მამის სახ.', 'p.patronymic') }}
                                    <i class="fa fa-fw fa-sort{{ people.isSorted('p.patronymic') ? '-' ~ people.getDirection : '' }}"></i>
                                </th>
                                <th scope="col">
                                    {{ knp_pagination_sortable(people, 'დაბადების თარ.', 'p.birthDate') }}
                                    <i class="fa fa-fw fa-sort{{ people.isSorted('p.birthDate') ? '-' ~ people.getDirection : '' }}"></i>
                                </th>
                                <th scope="col">ეროვნება</th>
                                <th scope="col">
                                    {{ knp_pagination_sortable(people, 'დაპატიმრების თარ.', 'p.dateOfArrest') }}
                                    <i class="fa fa-fw fa-sort{{ people.isSorted('p.dateOfArrest') ? '-' ~ people.getDirection : '' }}"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in people -%}
                                <tr>
                                    <td>{{ person.surname }}</td>
                                    <td>{{ person.name }}</td>
                                    <td>{{ person.patronymic }}</td>
                                    <td>{{ person.birthDate|default('არ არის მითითებული') }}</td>
                                    <td>{{ person.nationality }}</td>
                                    <td>{{ person.dateOfArrest ? person.dateOfArrest|date('d/m/Y') : 'არ არის მითითებული' }}</td>
                                    <td><a href="{{ path('dosie', { 'id': person.id }) }}">დოსიე</a></td>
                                </tr>
                            {% endfor -%}
                            </tbody>
                        </table>
                    </div>
                {% endif -%}

                {{ knp_pagination_render(people, null, {}, {'align': 'center'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/js/plugins/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            materialKit.initFormExtendedDatetimepickers('DD/MM/YYYY');
        });
    </script>
{% endblock -%}
